.tasks__input {
    width: 90%;
    margin: 4px auto;
    padding: 14px 32px 14px 16px;
    border-radius: 4px;
    border: 2px solid #5d0cff;
    outline: none;
    background: transparent;
    color: #fff;
    font-size: 16px;
}

.tasks__input::placeholder {
    color: #e2e2e2;
}

.tasks__input.edit {
    border: 2px solid #149fff;
}

.tasks__button {
    width: 90%;
    margin: 4px auto;
    padding: 16px;
    border: none;
    outline: none;
    border-radius: 4px;
    background: linear-gradient(
        90deg, 
        rgba(93, 12, 255, 1) 0%, 
        rgba(155, 0, 250, 1) 100%
    );
    color: #fff;
    font-size: 16px;
    text-transform: capitalize;
    cursor: pointer;
}

.tasks__button.edit {
    background: linear-gradient(
        90deg, 
        rgba(20, 159, 255, 1) 0%, 
        rgba(17, 122, 255, 1) 100%
    );
}

.tasks__message {
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px; 
}

.tasks__message.error {
    color: #dc3545;
}

.tasks__message.success {
    color: #198754;
}
